@charset "ISO-8859-1";
/*Nav qui est commun à toute les pages*/
body{

	font-family: 'Poppins', sans-serif;
	background: url("img/fontecran4.jpg");
	position: fixed;
	background-position:100% ;
}
li{

    display: inline;
    margin: 0 48px 0 4em;
    font-size: 2em;
    border-radius: solid 2px;
    padding: 2px 3px 6px 5px;
   
}
li:hover{ 
	background-color: pink; 
}
ul{
    text-align: center;
    color: white;
}
a{
	text-decoration: none;
	color: dimgrey;
}
img{
	height: 1em;
	padding: 0 0px 0px 5px;
    margin: 0 -1px -3px 0;
}
/*----------------------------------------------------------------------------------------------------------------------*/
#blochtml{
	border:solid  2px;
    padding: 6px 0 21px 0;
    margin: 0 0 7em 0;
}
/*------------------------------------------------------------------------------------------------------------------------*/
/*Style de la page à propos*/
#para{
	font-size: 21px;
    font-family: sans-serif;
    margin-left: 25em;
}
#para2{
	font-size: 21px;
    font-family: sans-serif;
    margin-left: 25em;
}
#para3{
	font-size: 21px;
    font-family: sans-serif;
    margin-left: 25em;
}
#paraentier{
	width: 94em;
	color: white;
}
span{
	color: deeppink;
}
#titre0{
	color: white;
	border: solid 3px;
	width: 5em;
    height: 11%;
    font-size: 55px;
    padding: 0 0 0 29px;
    margin-top: 2em;
    float: left;
    margin-left: 5%;
}
h1{
	color: white;
	margin: -55px 0 0 0;
	font-size: 9vh;
	font-family: system-ui;
	float: left;
	font-weight: 500;
    padding: 10px 0 0 13px;
}
#bloc2{
	padding: 0 0 0 46em;
}
 /*-------------------------------------------------------------------------------------------------------------------------*/
 /*Style de la page compétence*/
#barre{
	width: 35em;
    margin: 20px auto;
    font-size: 22px;
    font-family: sans-serif;
    padding-left: 25em; 
}
#barre p{
	color:darkslategrey;
}
.bar{
	background:#353b48;
	display: block;
	height: 18px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
}
.bar span{
	height: 18px;
	float: left;
	background: pink;
}
.html{
	width:48%;
}
.css{
	width:52%;
}
.JavaScript{
	width: 20%;
}
.Framework{
	width: 25%;
}
.Javas{
	width: 1%;
}
#nom{
	color: red;
	margin: -54px 0 0px 0;
}
 #titre{
	color: white;
	border: solid 8px;
	width: 25%;
	font-size: 37px;
    height: 13%;
    margin: 15px 0 0 6px;
    padding: 0 0 0 17px;
}
#titre h2{
	color: white;
	margin: 14px 0 0 0;
	font-size: 154%;
}
#bloc3{
	padding: 0 0 0 46em;
}
/*----------------------------------------------------------------------------------------------------------------
/*Style qui concerne la page contact*/
#titre2{
	color: white;
	border: solid 7px;
    width: 11%;
    font-size:187%;
    height: 8%;
    padding: 0 0px 14px 33px;
    margin: 0px 0 0px 13px;
}
#titre2 h2{
	color: white;
	margin: 9px 0 0 -21px;
}
#nom2{
	color: orange;
	margin: -37px 0 0 0;
}
#social {
	padding: 0 0 0 8em;
	font-size: 5em;
}
#social img{
	display: inline;
	border-radius: 250px;
	padding: 34px 0 7px 0;
}
#contactrose img{
	font-size: 55px;
	margin: 3px 0 -16px 0;
	border-radius: 250px;
}
#bloc4{
	padding: 0 0 0 46em;
}

/*------------------------------------------------------------------------------------------------------------------*/
/*Style de la page projets*/

#nomh1{
	border: solid 3px;
    width: 16%;
    padding: 34px 2px 1px 0px;
    color: white;
    height: 3em;
    float: left;
    margin: 0 0 0 120px;

}
/*------------------------------------------------------------------------------------------------------------------*/
/*Style de la page mel*/
#mel{
	border-bottom: solid 3px;
}
input{
	background: #F2E9F1;
	width: 39em;
    height: 4em;
    margin: 33px 0 5px 0;
    border: solid 4px;
    color: lightpink;
}

form{
	display: table-caption;
	margin: 111px 0 0 3em;
    width: 0;
}
label{
	color:white;
	font-size: 51%;
}
#message{
	margin: -7em 0 0 9em;
}
#mess{
	background:#F2E9F1;
	height: 18em;
    width: 48em;
    margin: 118px 0 0 49px;
}
button{
	background:white;
	width: 27em;
    height: 4em;
    margin: 32px 0 0 14em;
    color: dimgrey;
    border-radius: 250px;
    border-color: white;
}
#liengit{
	text-align: center;
    font-size: 4em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    float: left;
    margin-top: 3em;
}
#liengit img{
	float: left;
    margin: 59px 91px 6px 0;
}
/*#fleche img{
	border-radius: 250px;
}
#p{
	background: red;*/


@media (max-width: 1615px){
	 .nav{
	 	 flex-direction: column;
	 	 height: auto;
	 }
	 	li{
	 		height: 50px;
	 	}
}