@charset "ISO-8859-1";

/*Nav qui est commun à toute les pages*/
body{

	font-style: italic;
    font-family: serif;
	background: url("img/fondPorte.jpg");
	width:100%;
	background-repeat: no-repeat;
	
	background-size:cover;
	position:fixed;
}

 .container{
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-evenly
 }
 .navbar{
   display:flex;
   justify-content:space-evenly;
   align-items:center;
   border-bottom: solid 3px;
   color: #ec8888;
   
 }
 .nav-item{
    display:flex;
	justify-content:center;
	align-items:center;
	flex-grow:1;
 }
 .navbar-links {
  margin:0;
  padding:0;
  display:flex;
 
 }
 .item{
    color:red;
 }
li{

    display: inline;
    margin: 0 48px 0 4em;
    font-size: 2em;
    border-radius: solid 2px;
    padding: 2px 3px 6px 5px;
   
}
li:hover{ 
	background-color: pink; 
}
ul{
    text-align: center;
    color: white;
}
a{
	text-decoration: none;
    color: dimgrey;
   

}
img{
	height: 1em;
	padding: 0 0px 0px 5px;
    margin: 0 -1px -3px 0;
}
/*----------------------------------------------------------------------------------------------------------------------*/
#blochtml{
	border:solid  2px;
    padding: 6px 0 21px 0;
    margin: 0 0 7em 0;
}
/*------------------------------------------------------------------------------------------------------------------------*/
/*Style de la page à propos*/
#para{
	font-size: 21px;
    font-family: sans-serif;
    padding: 4em 11em 0 0em;
    margin-left: 5em;
}

#paraentier{
	width: 62%;
    color: white;
    display: flex;
    align-content: stretch;
    float: right;
    background: #f5f5f5f2;
    margin: 0 85px 0 0;
}
span{
	color: deeppink;
}
#titre0{
	color: white;
    border: solid 3px;
    width: 12%;
    height: 8%;
    font-size: 40px;
    float: left;
    margin: 34vh 0 7px 175px;
    padding: 2px 6px 2px 6px;
    text-align: center;
}
h1{
	color: white;
	margin: -44px 0 0 0;
	font-size: 7vh;
	font-family: system-ui;
	float: left;
	font-weight: 500;
    padding: 10px 0 0 25px;
}
#bloc2{
	padding: 0 0 0 46em;
}
 /*-------------------------------------------------------------------------------------------------------------------------*/
 /*Style de la page compétence*/
#barre{
	height: 21em;
	width: 33em;
    margin: 20px auto;
    font-size: 22px;
    font-family: sans-serif;
    background: white;
    padding: 26px 35px 62px 35px;
    margin-left: 26em;
    margin-top: 2%;
}
#titre1{
	color: white;
    border: solid 3px;
    font-size: 40px;
    float: left;
    margin: 33vh 0 7px 145px;
    padding: 2px 6px 2px 6px;
   
}
#barre p{
	color:darkslategrey;
}
.bar{
	background:#353b48;
	display: block;
	height: 18px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
}
.bar span{
	height: 18px;
	float: left;
	background: pink;
}
.html{
	width:48%;
}
.css{
	width:52%;
}
.JavaScript{
	width: 20%;
}
.Framework{
	width: 25%;
}
.Javas{
	width: 1%;
}
#nom{
	color: red;
	margin: -54px 0 0px 0;
}
 #titre{
	color: white;
	border: solid 8px;
	width: 25%;
	font-size: 37px;
    height: 13%;
    margin: 15px 0 0 6px;
    padding: 0 0 0 17px;
}
#titre h2{
	color: white;
	margin: 14px 0 0 0;
	font-size: 154%;
}
#bloc3{
	padding: 0 0 0 46em;
}
/*----------------------------------------------------------------------------------------------------------------
/*Style qui concerne la page contact*/
#titre2{
	color: white;
	border: solid 3px;
    width: 11%;
    font-size:176%;
    height: 8%;
    margin: 10em 0 0px 145px;
    float: left;
    text-align: center;
}
#titre2 h2{
	color: white;
	margin: 9px 0 0 -21px;
}
#nom2{
	color: orange;
	margin: -37px 0 0 0;
}
#social {
	padding: 0 0 0 8em;
	font-size: 5em;
	float: left;
}
#social img{
	display: inline;
	border-radius: 250px;
	padding: 34px 0 7px 0;
}
#contactrose img{
	font-size: 38px;
	margin: 7px 0 -6px 0;
	border-radius: 250px;
}
#bloc4{
	padding: 0 0 0 46em;
}

/*------------------------------------------------------------------------------------------------------------------*/
/*Style de la page projets*/

#nomh1{
	border: solid 3px;
    width: 14%;
    padding: 34px 2px 1px 0px;
    color: white;
    height: 3em;
    float: left;
    margin: 17em 0 0 202px;

}
/*------------------------------------------------------------------------------------------------------------------*/
/*Style de la page mel*/
#mel{
	border-bottom: solid 3px;
}
input{
	background: #F2E9F1;
	width: 39em;
    height: 4em;
    margin: 33px 0 5px 0;
    border: solid 4px;
    color: lightpink;
}

form{
	display: table-caption;
	margin: 111px 0 0 3em;
    width: 0;
}
label{
	color:white;
	font-size: 51%;
	display: flex;
    justify-content: space-around;
    align-items: center;
}
#message{
	margin: -7em 0 0 9em;
}
#mess{
	background:#F2E9F1;
	height: 18em;
    width: 48em;
    margin: 118px 0 0 49px;
}
button{
	background:white;
	width: 27em;
    height: 4em;
    margin: 32px 0 0 14em;
    color: dimgrey;
    border-radius: 250px;
    border-color: white;
}
#liengit{
	text-align: center;
    font-size: 4em;
    display: flex;
    float: left;
    flex-direction: column;
    margin: 55px 0 0 3em;
}
#liengit img{
	float: left;
   
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/* media queries-----------------------------------------------------------------------------------------------------------------------------------*/


/* si inferieur ou egalea a 500px alors*/
@media screen and  (min-width:0px) and (max-width:700px){
	
	.blocNav{
	 background:pink;
	}
	.nav-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0;
    height: 27px;
    font-size:21px;
    
   }
  a {
    text-decoration: none;
    color: dimgrey;
    font-size: 61%;
    }
    #titre0 {
    color: white;
    border: solid 1px;
    width: 7%;
    height: 4%;
    font-size: 7px;
    float: left;
    margin: 7px 0 7px 7px;
    padding: 2px 6px 2px 6px;
}
}
#para {
    font-size: 12px;
    font-family: sans-serif;
    padding: 0em 3em 0 0em;
  
  }
  #paraentier {
    width: 100%;
    color: white;
    display: flex;
    align-content: stretch;
    float: right;
}
#contactrose img {
    font-size: 27px;
    margin: 7px 0 -6px 0;
    border-radius: 250px;
}
ul {  /* pour centrer mes lien*/
    text-align: center;
    color: white;
    margin: 0px 48px 0 0;
}

/*-------------------------------------------------------------------------------------------*/
@media  (min-width : 701px) {
	 
	.navv{
	   background:blue;
	   width: auto;
	}
	.nav-item {
    display: inline;
    align-items: center;
    flex-grow: 1;
    justify-content:space-evenly;
    margin: 0;
    font-size: 4vh;
   }
   .container{
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-evenly
 }
  a{
	text-decoration: none;
    color: dimgrey;
    height: 50px;
    flex-wrap: revert;
    margin: 2vh;
 }
 #titre0 {
    color: white;
    border: solid 2px;
    width: 8%;
    height: 8%;
    font-size: 17px;
    float: left;
    margin: 3vh 0 7px 29px;
    padding: 2px 6px 2px 6px;
}
#paraentier {
    width: 73%;
    color: white;
    display: flex;
    float: right;
   
}
#para {
    font-size: 18px;
    font-family: sans-serif;
    padding: 1em 6em 0 0em;
    margin-left: 0em;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 3px;
    color: #ec8888;
    padding: 9px 0 9px 0;
}
/*-----------------------------------------------------------------------------------------------*/
 @media  (min-width : 1100px){
	
	.navv{
	   background:#ffc99175;
	   width: auto;
	   padding: 0px 0 13px 0;
	}
	.nav-item {
    display: inline;
    align-items: center;
    flex-grow: 1;
    justify-content:space-evenly;
    margin: 0;
    }
  .container{
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content:space-evenly
   }
   a{
	text-decoration: none;
    color: dimgrey;
    height: 50px;
    flex-wrap: revert;
    margin: 8vh; 
   }
   
   #paraentier {
    width: 76%;
    color: white;
    display: flex;
    float: right;
    margin:0;
    height: 88vh;
    
}

#titre0 {
    color: white;
    border: solid 3px;
    width: 12%;
    height: 8%;
    font-size: 34px;
    float: left;
    margin: 36vh 0 7px 66px;
    padding: 2px 6px 2px 6px;
}

#para {
	width: 34em;
    font-size: 22px;
    font-family: sans-serif;
    margin-left: 10em;
    padding: 5em 2em 2em 0em;
    color:#183d83;
    font-family:auto;
   }
   
   #contactrose img {
    font-size: 48px;
    margin: 7px 0 -15px 0;
    border-radius: 250px;
}
  } 

}



